<!-- Wózek -->
<div>
    <label for="{{ form.number.id_for_label }}">{{ form.number.label }}</label>
    {{ form.number }}
</div>
<div>
    <label for="{{ form.capacity_kg.id_for_label }}">{{ form.capacity_kg.label }}</label>
    {{ form.capacity_kg }}
</div>

<!-- Ładunek -->
<div>
    <label for="{{ form.packing_date.id_for_label }}">{{ form.packing_date.label }}</label>
    {{ form.packing_date }}
</div>
<div>
    <label for="{{ form.production_shift.id_for_label }}">{{ form.production_shift.label }}</label>
    {{ form.production_shift }}
</div>
<div>
    <label for="{{ form.product_kind.id_for_label }}">{{ form.product_kind.label }}</label>
    {{ form.product_kind }}
</div>
<div>
    <!-- TU BYŁO kiedyś: Kod batonu (1–365) -->
    <label for="{{ form.product_code.id_for_label }}">{{ form.product_code.label }}</label>
    {{ form.product_code }}
</div>
<div>
    <label for="{{ form.pieces.id_for_label }}">{{ form.pieces.label }}</label>
    {{ form.pieces }}
</div>
<div>
    <label for="{{ form.total_weight_kg.id_for_label }}">{{ form.total_weight_kg.label }}</label>
    {{ form.total_weight_kg }}
</div>
<div>
    <label for="{{ form.produced_at.id_for_label }}">{{ form.produced_at.label }}</label>
    {{ form.produced_at }}
</div>
<div>
    <label for="{{ form.flavor.id_for_label }}">{{ form.flavor.label }}</label>
    {{ form.flavor }}
</div>
<div>
    <!-- TU BYŁO kiedyś: Numer tanku -->
    <label for="{{ form.tank.id_for_label }}">{{ form.tank.label }}</label>
    {{ form.tank }}
</div>
<div>
    <label for="{{ form.handled_by.id_for_label }}">{{ form.handled_by.label }}</label>
    {{ form.handled_by }}
</div>